.shopping-cart-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right:80px;
}

.shopping-cart-icon {
  width: 20px;
}

.delete-icon {
  width: 20px;
}

tr, td {
  text-align: center;
  padding: 5px 10px;
}

.count-operation-button {
  width: 6px;
}

.pop-order {
  height: 150px;
  overflow: auto;
}

/*tbody {*/
/*  overflow: auto;*/
/*}*/

